span.validationError {
	color: red;
}

body{
   width: 80%;
}

.form_class {
	width:60%;
	padding-left:10px;
	padding-right:10px;
	border: 1px solid green;	
	border-color: green;
	padding-top:20px;
	margin:auto;
}

/** styles for nav bar*/

.header {
	text-align: center;
	padding-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}