<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title th:text="#{home.title}">EWh Application1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{css/ewh.css}">
</head>
<body class="container">
	<div class="header">
	    <img alt="Inventory image" th:src="@{images/inventory.jpg}" th:height="100px" align="middle">
		<h1 th:text="#{addcustomer.add}">Add Customer1</h1>
	</div>
	<div class="form_class">
			<form>
				<div class="form-group">
  					<select name="Initial" class="form-control-sm">
  						<option value="MR">Mr</option>
  						<option value="MRS">Mrs</option>
  						<option value="MISS">Miss</option>
  					</select>
  					<input type="text" class="form-control-sm" name="firstName" placeholder="First name">
  					<input type="text" class="form-control-sm" name="middleName" placeholder="Middle name">
  					<input type="text" class="form-control-sm" name="lastName" placeholder="Last name">
    			</div>
  				<div class="form-group">
  					<select name="type" class="form-control-sm">
  						<option value="TRADER">Trader</option>
  						<option value="FARMER">Farmer</option>
  					</select>
  					<span>Birthdate:</span>
  					<input type="date" name="dob" id="dob" class="form-control-sm" placeholder="Birthday">
  				</div>
  				 <label class="form-control-sm">ContactInfo:</label>
  				<div class="form-group">
  					<input type="email" name="email" class="form-control-sm" placeholder="Email">
  					<input type="email" name="landlineNo" class="form-control-sm" placeholder="Landline#">
  					<input type="email" name="mobileNo" class="form-control-sm" placeholder="MobileNo">
  				</div>
  				<label class="form-control-sm">Address:</label>
  				<div class="form-group">
  					<input type="text" name="houseNo" class="form-control-sm" placeholder="House#">
  					<input type="text" name="street" class="form-control-sm" placeholder="Street">
  					<input type="text" name="landmark" class="form-control-sm" placeholder="Landmark(If any)">
  				</div>
  				<div class="form-group">
  					<input type="text" name="city" class="form-control-sm" placeholder="City">
  					<input type="text" name="state" class="form-control-sm" placeholder="State">
  					<input type="text" name="country" class="form-control-sm" placeholder="Country">
  				</div>
  				<div class="form-group">
  					<input type="text" name="pincode" class="form-control-sm" placeholder="Pincode">
  				</div>
  				
  				<div class="form-group">
  					<input type="text" class="form-control" name="remarks" placeholder="Remarks(If any)">
  				</div>
			</form>
		</div>
	<div style="text-align: center;padding-top: 60px">
		<button th:text="#{addcustomer.submit}">submit customer</button>
	</div>
	<div style="text-align: center;">
		<p class="mt-5 mb-3 text-muted">Copyright &copy; 2019-2020</p>
	</div>
  <script th:src="@{js/jquery-slim.min.js}"></script>
  <script src="@{js/popper.min.js}"></script>
  <script src="@{js/bootstrap.min.js}"></script>
</body>
</html>