<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/jpg" th:href="@{images/inventory.jpg}"/>
	<link rel="stylesheet" th:href="@{css/ewh.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<title th:text="#{customers.title}">EWh Application1</title>
</head>
<body class="container">
	<ul>
		<li><a class="active" href="/">Home</a></li>
		<li><a href="/customers">Customers</a></li>
		<li><a href="/commodities">Commodities</a></li>
		<li><a href="#about">About</a></li>
	</ul>
	<div style="text-align: right;" sec:authorize="isAuthenticated()">
        Welcome <span style="color:maroon;" sec:authentication="name"></span> !&nbsp; 
    	<a href="/logout" th:text="#{logout}">Logout1</a>
    	<div sec:authorize="hasRole('ADMIN')">
     		<a href="/h2-console" th:text="#{db}">h2-console</a>
    	</div>
    </div>
	<div style="text-align: center;padding-top: 20px">
	    <img alt="Inventory image" th:src="@{images/inventory.jpg}" th:height="100px" align="middle">
		<h1 th:text="#{customer.info}">Customer Info</h1>
		<div class="table-responsive" style="padding-top: 10px;">
			<table class="table">
		  		<thead>
		    		<tr>
			      		<th scope="col" th:text="#{customer.name}">Name1</th>
			      		<th scope="col" th:text="#{customer.dob}">DOB1</th>
			      		<th scope="col" th:text="#{customer.dor}">DOR1</th>
			      		<th scope="col" th:text="#{customer.type}">Type1</th>
			      		<th scope="col" th:text="#{customer.address}">Address1</th>
			      		<th scope="col" th:text="#{customer.contact}">Contact1</th>
			      		<th scope="col" th:text="#{customer.store}">Store1</th>
			      		<th scope="col" th:text="#{customer.evict}">Evict1</th>
			      		<th scope="col" th:text="#{customers.heading.update}">Update1</th>
			      		<th scope="col" th:text="#{customers.heading.delete}">Delete1</th>
		    		</tr>
		 	  	</thead>
		  	  	<tbody th:each="cust : ${customers}">
		  	    	<tr>
		      		  <td th:text="${cust.getName()}">Name</td>
		      		  <td th:text="${cust.dateOfBirth}">Dob</td>
		      		  <td th:text="${cust.registrationDate}">Dor</td>
		      		  <td th:text="${cust.customerType}">Type</td>
		      		  <td th:text="${cust.getAddressInfo()}">Address</td>
		      		  <td th:text="${cust.getContactInfo()}">Contact</td>
		      		  <td><a th:href="@{|customers/${cust.id}/store|}" th:text=#{customer.store}>Store</a></td>	
		      		  <td><a th:href="@{|customers/${cust.id}/evict|}" th:text=#{customer.evict}>Evict</a></td>	
		      		  <td>
		      		  	<!-- <form method="POST"> -->
		      		  		<a th:title="#{customers.heading.update}" style="color:green;" th:href="@{|customers/update/${cust.id}|}"><i class="fa fa-pencil fa-fw"></i></a>
		      		  	<!-- </form> -->
		      		  </td>
		      		  <td>
		      		  	<a th:title="#{customers.heading.delete}" style="color:red;" th:href="@{|customers/delete/${cust.id}|}"><i class="fa fa-trash fa-fw"></i></a>
		      		  </td>		      		  
		    		</tr>	
		  		</tbody>
			</table>
		</div>
	</div>
	<form method="GET" action="/addcustomer">
		<div style="text-align: center;padding-top: 20px">
			<button type="submit" class="btn btn-primary" th:text="#{addcustomer.heading}">Add customer1</button>
		</div>
	</form>
	<div style="text-align: center;">
		<p class="mt-5 mb-3 text-muted">Copyright &copy; 2019-2020</p>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>