<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>EWh Application</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body class="container" style="width: 400px">
	<div style="text-align: center;padding-top: 50px">
		<h1>Please sign in</h1>
	</div>
	
	<div style="padding-top: 50px">
		<form action="/login" class="form">
			<div class="form-group">
				<label for="loginId">LoginId </label>
				<input class="form-control" id="loginId">
			</div>
			<div class="form-group">
				<label for="password">Password </label>
				<input class="form-control" id="pwd">
			</div>		
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	
	<div style="text-align: center;">
		<p class="mt-5 mb-3 text-muted">Copyright &copy; 2020-2021</p>
	</div>
	
  <script th:src="@{js/jquery-slim.min.js}"></script>
  <script src="@{js/popper.min.js}"></script>
  <script src="@{js/bootstrap.min.js}"></script>
</body>
</html>