<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
	<title th:text="#{home.title}">EWh Application1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{css/ewh.css}">
</head>
<body class="container">
    <div style="text-align: right;" sec:authorize="isAuthenticated()">
        Welcome <span style="color:maroon;" sec:authentication="name"></span> !&nbsp; 
    	<a href="/logout" th:text="#{logout}">Logout1</a>
    	<div sec:authorize="hasRole('ADMIN')">
     		<a href="/h2-console" th:text="#{db}">h2-console</a>
    	</div>
    </div>
	<div class="header">
	    <img alt="Inventory image" th:src="@{images/inventory.jpg}" th:height="100px" align="middle">
		<h1 th:text="#{updatecustomer.heading}">Update Customer1</h1>
	</div>
	<div class="form_class">
			<form method="POST" action="/updatecustomer" th:object="${customerInfo}">
				<div th:if="${#fields.hasErrors()}">
 					<span class="validationError">Please correct the problems below and resubmit.</span>
 				</div>
 				<fieldset class="border p-2">
  					<legend class="col-form-label col-sm-2 pt-0">Personalia:</legend>
					<div class="form-group">
	  					<select name="Initial" class="form-control-sm">
	  						<option value="MR">Mr</option>
	  						<option value="MRS">Mrs</option>
	  						<option value="MISS">Miss</option>
	  					</select>
	  					<input type="text" class="form-control-sm" name="firstName" placeholder="*First name">
	  					<span class="validationError" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">*{firstName} Error</span>
	  					<input type="text" class="form-control-sm" name="middleName" placeholder="Middle name">
	  					<span class="validationError" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}">*{middleName} Error</span>
	  					<input type="text" class="form-control-sm" name="lastName" placeholder="*Last name">
	  					<span class="validationError" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">*{lastName} Error</span>
	    			</div>
	  				<div class="form-group">
	  					<span>*Type:</span>
	  					<select name="customerType" class="form-control-sm">
	  						<option value="TRADER">Trader</option>
	  						<option value="FARMER">Farmer</option>
	  					</select>
	  					<span>*Birthdate:</span>
	  					<input type="date" name="dateOfBirth" id="dateOfBirth" value="1947-08-15" class="form-control-sm" placeholder="*Birthday">
	  					<span class="validationError" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">*{dateOfBirth} Error</span>
	  				</div>
  				</fieldset>
  				<fieldset class="border p-2">
  				 	<legend class="col-form-label col-sm-2 pt-0">ContactInfo:</legend>
	  				<div class="form-group">
	  					<input type="email" name="contactInfo.email" class="form-control-sm" placeholder="*Email">
	  					<span class="validationError" th:if="${#fields.hasErrors('contactInfo.email')}" th:errors="*{contactInfo.email}">*{contactInfo.email} Error</span>
	  					<input type="text" name="contactInfo.phoneNos" class="form-control-sm" placeholder="*Phone(s)#">
	  					<span class="validationError" th:if="${#fields.hasErrors('contactInfo.phoneNos')}" th:errors="*{contactInfo.phoneNos}">*{contactInfo.phoneNos} Error</span>
	  				</div>
	  			</fieldset>	
	  			
  				<fieldset class="border p-2">
  					<legend class="col-form-label col-sm-2 pt-0">AddressInfo:</legend>
	  				<div class="form-group">
	  					<input type="text" name="addressInfo.houseNo" class="form-control-sm" placeholder="House#">
	  					<input type="text" name="addressInfo.street" class="form-control-sm" placeholder="Street">
	  					<input type="text" name="addressInfo.landmark" class="form-control-sm" placeholder="Landmark(If any)">
	  				</div>
	  				<div class="form-group">
	  					<input type="text" name="addressInfo.city" class="form-control-sm" placeholder="*City">
	  					<span class="validationError" th:if="${#fields.hasErrors('addressInfo.city')}" th:errors="*{addressInfo.city}">*{addressInfo.city} Error</span>
	  					<input type="text" name="addressInfo.state" class="form-control-sm" placeholder="*State">
	  					<span class="validationError" th:if="${#fields.hasErrors('addressInfo.state')}" th:errors="*{addressInfo.state}">*{addressInfo.state} Error</span>
	  					<input type="text" name="addressInfo.country" class="form-control-sm" placeholder="*Country">
	  					<span class="validationError" th:if="${#fields.hasErrors('addressInfo.country')}" th:errors="*{addressInfo.country}">*{addressInfo.country} Error</span>
	  				</div>
	  				<div class="form-group">
	  					<input type="text" name="addressInfo.pincode" class="form-control-sm" placeholder="*Pincode">
	  					<span class="validationError" th:if="${#fields.hasErrors('addressInfo.pincode')}" th:errors="*{addressInfo.pincode}">*{addressInfo.pincode} Error</span>
	  				</div>
	  			</fieldset>	
  				<div class="form-group">
  					<input type="text" class="form-control" name="remarks" placeholder="Remarks(If any)">
  				</div>
  				<div style="text-align: center;padding:5px">
  					<button style="text-align: center;" th:text="#{updatecustomer.submit}">submit customer</button>
  				</div>  				
			</form>
		</div>
	<div style="text-align: center;">
		<p class="mt-5 mb-3 text-muted">Copyright &copy; 2019-2020</p>
	</div>
  <script th:src="@{js/jquery-slim.min.js}"></script>
  <script src="@{js/popper.min.js}"></script>
  <script src="@{js/bootstrap.min.js}"></script>
</body>
</html>