<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title th:text="#{home.title}">EWh Application1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body class="container" style="width: 400px">
	<img alt="Inventory image" th:src="@{images/inventory.jpg}">
	<div style="text-align: center;padding-top: 50px">
		<h1 th:text="#{success.greeting}">Please sign in1</h1>
	</div>
	
	<div style="padding-top: 50px">
		<span>Congratulations! You are old enough to sign up for this site.</span>
	</div>
	
	<div style="text-align: center;">
		<p class="mt-5 mb-3 text-muted">Copyright &copy; 2019-2020</p>
	</div>
	
  <script th:src="@{js/jquery-slim.min.js}"></script>
  <script src="@{js/popper.min.js}"></script>
  <script src="@{js/bootstrap.min.js}"></script>
</body>
</html>